.inputs{
    background-color: rgb(90, 41, 136);
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputs div{
    background-color: rgb(100, 17, 234);
    color: white;
}

.cost p,.unit p,.margin p{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    padding: 0 10px;

}
.cost,.unit,.margin{
    padding: 0 10px;
    
}
[contenteditable] {
    outline: 0px solid transparent;
}